<div class='top-bg'>
  <div class='container'>
    <div class='row'>
      <!-- top-img-container -->
      <div class='top-img-container pt-5 col-lg-8 offset-lg-2 col-md-10 offset-md-1'>
        <div class='top-monitor'>
          <%= image_tag 'top-monitor.png', width: '100%' %>
          <div class='top-text-container'>
            <p>タイポ、ロジックミス。<br>あらゆるエンジニアたちが頭を悩ませてきたクソコード。</p>
            <p>さあ、今こそ駆逐する時。</p>
            <p><span>この謎を解き明かし、</span><br><span>クソコードを破壊せよ！</span></p>
            <%= link_to 'Game Start', levels_path, class: 'btn btn-lg btn-success' %>
          </div>
        </div>
      </div>
      <!-- /top-img-container -->
    </div>
  </div>
</div>
