<div class='jumbotron' style='background-image:url(images/top.jpg); background-size:cover;'>
    <div class='container d-flex align-items-center justify-content-center' style='height:500px;'>
        <div class='row'>
            <h1 class='text-center'>クソコードを破壊せよ</h1>
            <h4 class='text-center'>- Vanish DaCode -</h4>
            <div class='text-center mt-5 col-sm-10 offset-sm-1'>
                <p>タイポ、ロジックミス、あらゆるエンジニアたちが頭を悩ませてきたクソコード。</p>
                <p>さあ、今こそ駆逐する時。</p>
                <p>この謎を解き明かし、クソコードを破壊せよ！</p>
            </div>
            <div class='text-center mt-3'>
                <%= link_to 'Game Start', '#', class: 'btn btn-lg btn-outline-secondary' %>
            </div>
        </div>
    </div>
</div>