<div class='text-center'>
  <p>CRUDはそれぞれ何のこと？<p>
  <p><span class='text-primary'>CREATE</span></p>
  <p>___</p>
  <p><span class='text-warning'>UPDATE</span></p>
  <p><span class='text-danger'>DELETE</span></p>
</div>