<table class='table table-stripe'>
  <thead>
    <th>Rank</th>
    <th>UserName</th>
    <th>Result</th>
    <th>Time</th>
  </thead>
  <tbody>
    <%= render partial: 'record', collection: records %>
  </tbody>
</table>