<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='my-5'>
      <div class='text-center col-sm-8 offset-sm-2'>
      <h3><%= t('.title') %></h3>
      <table class='table table-stripe'>
        <thead>
          <th>Rank</th>
          <th>UserName</th>
          <th>Level</th>
          <th>Result</th>
          <th>Time</th>
        </thead>
        <tbody>
          <%= render partial: 'record', collection: @records %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>