<p class='text-center'>空欄に入る語句を答えよ。</p>
<p>'pry-byebug'というGemをインストールすることで使えるようになるデバッガbinding.pry。<br>コントローラやビューでデバッグしたい場所（ブレイクポイント）に「binding.pry」と記述することで、処理を止めて変数やパラメータの中身を検証することができる。</p>
<p>「binding.pry」で立ち上がったpryモードを抜ける際には、exitまたは____と入力する。（アルファベット４文字）</p>