<div>
  <p>reverse(open)<br>> close</p>
  <p>reverse(stateless)<br>> _______</p>
  <div class='border border-dark rounded-3 p-3 mb-3'>
    <p class='mb-0'>def reverse(object)</p>
    <%= image_tag 'del_line.png', size: '300x100' %>
    <p class='mb-0'>end</p>
  </div>
</div>