<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='my-5'>
      <div class='col-lg-6 offset-lg-3 col-sm-8 offset-sm-2'>
        <div class='black-code-area'>
          <p>def check_num(num)<br>return 0<br>  if num >= 0<br>    return num<br>  end<br> end</p>
        </div>
        <p class='mt-3'>
          大変だ！開発中に野生のクソコードが現れた！<br>
          このままでは納期に支障が出てしまう…。ん？なんだ、このスイッチは？<br>
          え、クソコード破壊ボタン！？<br>
          これを使えばクソコードを撃退できるかもしれない！
        </p>
        <p>
          ふむふむ、これが取扱説明書か。<br>
          スイッチを起動させるためには設定が必要みたいだ。<br>
          設定方法は…えっ、クイズに答えなきゃいけない？<br>
          なんだかよくわからないけれど、やるしかない！
        </p>
        <h3>この謎を解き明かして、クソコードを破壊しよう！</h3>
        <%= link_to '次へ', level_step1_path(@level), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>