<div class='flower-icon'>
  <% if current_user.flowered?(kusocode) %>
    <%= render 'unflowered', kusocode: kusocode %>
  <% else %>
    <%= render 'flowered', kusocode: kusocode %>
  <% end %>
</div>