<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='my-5'>
      <div class='col-lg-8 offset-lg-2'>
        <h3 class='text-center mb-3'><%= t('.title') %></h3>
        <p class='text-center'>
          ユーザーによって破壊されたクソコード一覧です。<br>
          「これはクソ！」と思ったものには花をクリックして評価しましょう。<br>
          <small>※評価機能は会員登録後に利用できます。</small>
        </p>
        <div class='kusocode-view-container'>
          <% if @kusocodes.present? %>
            <%= render @kusocodes %>
          <% else %>
            <%= t('.zero_message') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>