<%= link_to level_path(level) do %>
  <div class="card mb-3" style="width: 18rem;">
    <%= image_tag level.level_image, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= level.name %></h5>
    </div>
  </div>
<% end %>