<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='my-5'>
      <div class='col-sm-8 offset-sm-2'>
        <h3 class='text-center mb-3'><%= t('.title') %></h3>
        <div class='d-flex flex-row justify-content-around flex-wrap'>
          <%= render @levels %>
        </div>
      </div>
    </div>
  </div>
</div>