@import "bootstrap";

/* デフォルト */
.btn-success {
  --bs-btn-bg: #3C3BC3;
  --bs-btn-hover-bg: #060C9A;
}

/* ヘッダー */
#header-bg {
  background-color: #060C9A;
}

/* フッター */
footer p {
  color: #060C9A;
}

/* トップ */
.top-bg {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(233, 233, 233, 1), rgba(172, 172, 172, 1));
}

.top-monitor {
  position: relative;
}

.top-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 80%;
  text-align: center;
}

.top-text-container p {
  font-size: 0.8em;
}

.top-text-container span {
  font-size: 1.8em;
}

.top-alert {
  width: 20%;
  height: 40%;
}

